<%- include('includes/header') %>

<div class="container pt-md-5 container--narrow">
  <%- include('includes/flash') %>
  <div class="d-flex justify-content-between">
    <h2><%= post.title %></h2>
    <% if (post.isVisitorOwner) { %>
    <span class="pt-2">
      <a
        href="/post/<%= post._id %>/edit"
        class="text-primary mr-2"
        data-toggle="tooltip"
        data-placement="top"
        title="Edit"
        ><i class="fas fa-edit"></i
      ></a>
      <form
        class="delete-post-form d-inline"
        action="/post/<%= post._id %>/delete"
        method="POST"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button
          class="delete-post-button text-danger"
          data-toggle="tooltip"
          data-placement="top"
          title="Delete"
        >
          <i class="fas fa-trash"></i>
        </button>
      </form>
    </span>

    <% } %>
  </div>

  <p class="text-muted small mb-4">
    <a href="/profile/<%= post.author.username %>"
      ><img class="avatar-tiny" src="<%= post.author.avatar %>"
    /></a>
    Posted by
    <a href="/profile/<%= post.author.username %>"
      ><%= post.author.username %></a
    >
    on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate()
    %>/<%= post.createdDate.getFullYear() %>
  </p>

  <div class="body-content">
    <%- filterUserHTML(post.body) %>
  </div>
</div>

<!-- Comments -->
<div class="container py-md-5 container--narrow">
  <div id="comments-receiver" class="">
    <p>First comment!</p>
  </div>
  <form id="comments-form" action="/create-comment" method="POST" class="form-group">
    <label class="block pt-2"
      ><strong class="mb-1">Add a comment!</strong>
      <div class="form-group mb-2">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <textarea id="comments-textarea" class="" name="comment" rows="4"></textarea>
        <div class="flex">
          <!-- <input type="hidden" name="post._id" value="<%= post._id %>"> -->
          <button type="submit" class="btn-primary">
            Submit
          </button>
        </div>
      </div>
    </label>
  </form>
</div>

<%- include('includes/footer') %>
