<%- include('includes/header') %>
<div class="w-100 bg-dark">
<%- include('includes/flash') %>
<div class="container py-md-5 container--narrow">
  <h1 class="py-3 text-white">Thread</h1>
  <div>
    <% threads.forEach(thread => { %>
    <div style="overflow-wrap: break-word; min-width: 0px" class="bg-white p-3 border-bottom border-dark rounded">
      <div class="d-flex flex-row justify-content-between">
        <div>
         <a href="/profile/<%=thread.author.username %>"><img class="avatar-tiny" src="<%= thread.author.avatar %>" /></a>
          <a href="/profile/<%= thread.author.username %>"><%= thread.author.username %></a>
        </div>
        <div>
          <p class="block">
              <%= thread.createdDate.getMonth() + 1 %>/<%= thread.createdDate.getDate() %>/<%=thread.createdDate.getFullYear() %>
            </p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-end">
        <p class="my-1 text-3xl"><%= thread.thread %></p>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
     <% if (thread.isVisitorOwner) { %>
      
     <div id="edit-form" class="edit-form flex">
      <form
          class="mr-2"
          action="/thread-edit"
          method="POST"
        >
          <textarea name="thread" rows="4"><%= thread.thread %></textarea>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="threadId" value="<%= thread._id %>"> <br />
          <button class="mb-5 btn btn-info" aria-pressed="true">Submit </button>
      </form>
      <button class="thread-close-button mb-5 btn btn-secondary" aria-pressed="true">Cancel</button>
    </div>

    <div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button
        id="edit-button"
        class="delete-thread-button edit-button text-primary"
        data-toggle="tooltip"
        data-placement="top"
        class="btn btn-danger btn-sm"
        href="/thread-edit"
        >
        <i class="far fa-edit"></i>
    </button>
    <form
        class="d-inline"
        action="/threads"
        method="POST"
      >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="hidden" name="threadId" value="<%= thread._id %>">
      <button
        class="delete-thread-button text-danger"
        data-toggle="tooltip"
        data-placement="top"
        class="btn btn-danger btn-sm"
        >
        <i class="far fa-trash-alt"></i>
        </button>
      </form>
      </div>
    <% } %>
      </div>
    </div>
    <% }) %>
    <form id="thread-form" action="/thread" method="POST" class="d-flex mt-4 flex-column">
      <p class="mb-0 text-white">Add to the thread</p>
      <textarea name="thread" rows="4"></textarea>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button class="mb-5 btn btn-info" aria-pressed="true">Submit</button>
    </form>
  </div>
</div>
</div>

<%- include('includes/footer') %>
