<%- include('includes/header') %>
<div class="w-100 bg-dark">
<%- include('includes/flash') %>
<div class="container py-md-5 container--narrow">
  <h1 class="text-white">Thread</h1>
  <div>
    <% threads.forEach(item => { %>
    <div style="overflow-wrap: break-word; min-width: 0px" class="bg-white p-3 border-bottom border-dark rounded">
      <div class="d-flex flex-row justify-content-between">
        <div>
         <a href="/profile/<%= user.username %>"><img class="avatar-tiny" src="<%= user.avatar %>" /></a>
          <a href="/profile/<%= user.username %>"><%= user.username %></a>
        </div>
        <div>
          <p class="block">
          </p>
        </div>
      </div>
      <h4 class="my-1 text-3xl"><%= item.thread %></h4>
    </div>
    <% }) %>
    <form id="thread-form" action="/thread" method="POST" class="d-flex mt-4 flex-column">
      <p class="mb-0 text-white">Add another thread</p>
      <textarea name="thread" rows="4"></textarea>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <input type="submit" />
    </form>
  </div>
</div>
</div>

<%- include('includes/footer') %>