<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= typeof(title) == "undefined" ? 'GSS-Gwarinpa-Network' : `${title} | GSS-Gwarinpa-Network` %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-66TP4J6DG7"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-66TP4J6DG7'); </script>
</head>
<body>
  <header class="header-bar bg-success">
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
      <h4 class="my-0 mr-md-auto text-center font-weight-normal"><a href="/" class="text-white">GSS Gwarinpa Network</a></h4>
          <% if (user) { %>


        <div class="d-flex align-items-center">
            <a class="text-white header-thread-icon mr-2" href="/threads" title="Thread" data-toggle="tooltip" data-placement="bottom"><i style="width: 30px; height: 30px;" class="far fa-comment-alt"></i></a>
            <a href="#" class="text-white mr-2 header-search-icon" title="Search" data-toggle="tooltip" data-placement="bottom"><i  style="width: 30px; height: 30px; border-radius: 16px;" class="fas fa-search"></i></a>
            <span class="text-white mr-2 header-chat-icon" title="Chat" data-toggle="tooltip" data-placement="bottom"><i  style="width: 30px; height: 30px;" class="fas fa-comment"></i></span>
            <a href="/profile/<%= user.username %>" class="mr-2"><img title="My Profile" data-toggle="tooltip" data-placement="bottom" style="width: 35px; height: 35px; border-radius: 16px;" src="<%= user.avatar %>"></a>
        </div>

        <a class="btn btn-sm btn-primary mb-2 mt-2 mb-md-0 mt-md-0 mr-md-2" href="/create-post">Create Post</a>

        <form action="/logout" method="POST" class="d-inline">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="btn btn-sm btn-secondary">Sign Out</button>
        </form>
      </div>

         <% } else { %>
              <form action="/login" method="POST" class="mb-0 pt-2 pt-md-0">
          <div class="row align-items-center">
            <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
              <input
                name="username"
                class="form-control form-control-sm input-dark"
                type="text"
                placeholder="Username"
                autocomplete="off"
              />
            </div>
            <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
              <input
                name="password"
                class="form-control form-control-sm input-dark"
                type="password"
                placeholder="Password"
              />
            </div>
            <div class="col-md-auto">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn border border-white btn-primary btn-sm">Sign In</button>
            </div>
          </div>
        </form>
         <% }%>

    </div>
  </header>
